{% include head.html %}
<body>

  <div id="container">
    {% include header.html %}
    <div id="home">
    <div id="main" role="main">
      {{ content }}
    </div>
    <div id="sidebar">
        <!--<li id="rssfeeds">Subscribe: <a
          href="feed/index.html">Entries</a> | <a
          href="http://hotgazpacho.disqus.com/latest.rss">Comments</a></li>-->
      <aside id="linkcat-36" class="widget widget_links">
        <h4 class="widgettitle">Me Elsewhere on the Web</h4>
        <ul class='xoxo blogroll'>
          <li><a href="https://mstdn.social/@hotgazpacho" rel="me" target="_blank">@hotgazpacho@mstdn.social</a></li>
          <li><a href="http://twitter.com/hotgazpacho" rel="me" title="Me on Twitter" target="_blank">@hotgazpacho on Twitter</a></li>
          <li><a href="http://github.com/hotgazpacho" rel="me" title="My account on GitHub" target="_blank">My Github Profile</a></li>
          <li><a href="http://www.linkedin.com/in/hotgazpacho" rel="me" target="_blank">My Linked In Profile</a></li>
          <li><a href="https://dev.to/hotgazpacho" rel="me" target="_blank">DEV Community</a></li>
          <li><a href="http://stackoverflow.com/users/74360/will-green" rel="me" target="_blank">My Stack Overflow Profile</a></li>
        </ul>
      </aside>
    </div>
    </div>
    <footer>
      <h3>Site Pages</h3>
      <ul>
        <li><a href="/" rel="home">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
      <p>
      <a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img src="http://i.creativecommons.org/l/by/3.0/80x15.png"
        alt="Creative Commons License" height="15" width="80"></a>
      Content on this site is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a>
      </p>
    </footer>
  </div> <!--! end of #container -->
{% include scripts.html %}
{% include analytics.html %}
{% include chromeframe.html %}
</body>
</html>
