{% include head.html %}
<body>

  <div id="container">
    {% include header.html %}
    <div id="main" role="main">
      <h1>{{ page.title }}</h1>
      {{ content }}
      <section>
      <h2>Comments</h2>
      <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'hotgazpacho'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      </section>
    </div>
    <footer>        
      <h3>Site Pages</h3>
      <ul>
        <li><a href="/" rel="home">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
      <h3>Blog Posts</h3>          
      <ul>
        {% for post in site.posts %}
          <li{% if page.url == post.url %} class="active"{% endif %}><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
       <p>
      <a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img src="http://i.creativecommons.org/l/by/3.0/80x15.png"
        alt="Creative Commons License" height="15" width="80"></a>
      Content on this site is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a>
      </p>
    </footer>
  </div> <!--! end of #container -->
{% include scripts.html %}	        
{% include analytics.html %}
{% include chromeframe.html %}
</body>
</html>
